<header class="header border-bottom border-primary border-3 py-4">
    <div class="container d-flex justify-content-between">
        <div class="leftPart d-flex  ">
            <h1 class="logo ">
                <a href="#" class="d-flex align-items-center">
                    <div
                        class="image-container d-flex justify-content-center align-items-center border border-2 border-primary bg-secondary">
                        <img src="../assets/images/icon/sparkler 1.png" alt="sparkler" width="28" height="28">
                    </div>
                    <p class="fs-2 Ye-On ms-3">7TAO</p>
                    <p class="fs-6 ms-1">活動訂票網</p>
                </a>
            </h1>
            <div class="searchbar d-flex align-items-center ms-5">
                <form class="d-flex ">
                    <input type="text" placeholder="探索活動" class="py-3 px-4 border-end-0">
                    <button type="submit" class="bg-black2 d-block p-3 border border-2 border-black2 border-start-0" ><i class="icofont-search-1 text-secondary"></i></button>
                </form>
            </div>
        </div>
        <div class="rightPart d-flex align-items-center">
            <a href="#" class="Ye-On d-flex align-items-center me-4"><i class="icofont-ui-file icon me-1"></i>
                REGISTER</a>
            <a href="#" class="Ye-On d-flex align-items-center"><i class="icofont-ui-user icon me-1"></i>
                LOGIN</a>
        </div>
    </div>
</header>