<header class="header">
    <div class="leftPart">
        <h1 class="logo">
            <a href="#">
                <img src="" alt="" class="image">
                <p>7TAO</p>
                <p>活動訂票網</p>
            </a>
        </h1>
        <div class="searchbar">
            <form>
                <input type="text">
                <button type="submit"></button>
            </form>
        </div>
    </div>
    <div class="rightPart">
        <a href="#">REGISTER</a>
        <a href="#">LOGIN</a>
    </div>



</header>




<a href="index.html">index</a>
<a href="about.html">about</a>
<a href="contact.html">contact</a>