.header {
  .image-container {
    width: 44px;
    height: 44px;
    @include b768{
      width: 57px;
      height: 57px;
    }
  }
  .searchbar{

   
    input {
      background: rgba(0, 0, 0, 0);
    }
  
    .icofont-search-1{
      font-size: 15px;
      @include b768{
        font-size: 19px;
      }
    }

  }

  .rightPart {
    font-size: 18px;

  
  }
  .menu{
    border: 1px solid #030303;
    border-radius: 4px;
    padding: 4px 12px;
    width: 54px;
  }

  



}