
.logo {
  a:hover {
    color: #030303;

  }
}

.banner {
  height: 350px;

  @include b576 {
    height: 518px;
  }

  .title {
    font-size: 32px;
    width: 113px;

    @include b576 {
      width: auto;
      font-size: 60px;
    }
  }
}

nav {
  .item {    
    @include b768{
    line-height: 34px;

    }

    
    &:hover {
      color: #030303;
      transform: translateY(-5px);
      box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.4) 0px 30px 60px -30px;

    }

    img {
      width: 40px;

      @include b768 {
        margin-bottom: 12px;
        width: 80px;

      }
    }
  }

  .moreInfo {
    font-size: 24px;
    line-height: 1.33;
    @include b768 {
      font-size: 48px;
      line-height: 1.25;
      padding-top: 38px;
      padding-bottom: 38px;
    }
  }

}

.TitelBig h2 {
  line-height: normal;
  @include b768{
  line-height: 74px;

  }
}

.online {
  .tagList .tag {
    border: 1px solid #000;
    border-left: 4px solid #030303;
  }

  .image-container {
    height: 250px;  
   
    @include b768 {
      height: 100%;
    }
   

    .image {
      z-index: -1;
    }
  }
}

.selection {
  .item{
    width: 291px;
    @include b768{
      width:100%;
    }
  }


  .h2-transform {
    transform: translate(-50%, -50%) rotate(-4deg);
  }

  li {
    &:nth-child(2n) {
      transform: rotate(2deg);
    }

    &:nth-child(3) {
      transform: rotate(-2deg);
    }
  }

  .item {
    img {
      object-fit: cover;
      height: 274px;
    }
  }

}

.subscribeUS {
  input {
    height: 55px;
    background: none;
  }

  button {
    margin-top: 25px;
  }

  .content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}