<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>index</title>
  <link rel="stylesheet" href="../assets/images/icofont/icofont.min.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.css" />
</head>

<body>
  <%- include('./layout/header'); -%>
    <div class="banner container mt-5 pt-6 px-6 pb-4 text-white d-flex flex-column justify-content-between"
      style="background-image: url('/assets/images/banner.png'); background-size: cover; background-repeat: no-repeat;">
      <div class="title Ye-On  ">19 MAY 2023</div>
      <div class="text">
        <p class="fs-4 text-center mx-auto">隔牆有耳-沒有草東的派對</p>
        <p class="text-center mt-3 d-none d-md-block">你各位聽團仔們！每次想跟朋友一起聽草東專場卻每一次都搶不到票？「草東沒有派對」永遠都是「草東沒有門票」！
          </br>帶上啤酒、野餐墊，讓我們在Live
          House外面一起開場「沒有草東的派對」吧！</p>
      </div>
    </div>
    <!-- 導航欄 -->
    <nav class="navi container mt-32 mt-md-48 px-12">
      <div class="row ">
        <div class="col-4 col-lg-2">
          <a href="#">
            <div class="item border border-primary border-2 fs-nav text-center fw-bold py-20 py-md-35">
              <img class="mx-auto image mb-2 mb-md-3" src="../assets/images/nav/music.png" width="80" height="80"
                alt="演出">
              演出
            </div>
          </a>
        </div>
        <div class="col-4 col-lg-2 mb-3">
          <a href="#">
            <div class="item border border-primary border-2 fs-nav text-center fw-bold py-20 py-md-35">
              <img class="mx-auto image mb-2 mb-md-3  " src="../assets/images/nav/heart.png" width="80" height="80"
                alt="愛心">
              聯誼
            </div>
          </a>
        </div>
        <div class="col-4 col-lg-2 mb-3">
          <a href="#">
            <div class="item border border-primary border-2 fs-nav  text-center fw-bold py-20 py-md-35">
              <img class="mx-auto image mb-2 mb-md-3  " src="../assets/images/nav/museum.png" width="80" height="80"
                alt="畫">
              展覽
            </div>
          </a>
        </div>
        <div class="col-4 col-lg-2 mb-3">
          <a href="#">
            <div class="item border border-primary border-2 fs-nav text-center fw-bold py-20 py-md-35">
              <img class="mx-auto image mb-2 mb-md-3  " src="../assets/images/nav/cutlery.png" width="80" height="80"
                alt="刀叉">
              美食
            </div>
          </a>
        </div>
        <div class="col-4 col-lg-2 mb-3">
          <a href="#">
            <div class="item border border-primary border-2 fs-nav text-center fw-bold py-20 py-md-35">
              <img class="mx-auto image mb-2 mb-md-3  " src="../assets/images/nav/snowed-mountains.png" width="80"
                height="80" alt="山">
              戶外
            </div>
          </a>
        </div>
        <div class="col-4 col-lg-2 mb-3">
          <a href="#">
            <div
              class="moreInfo item border border-primary border-2 text-center fw-bold bg-primary text-secondary py-24 py-md-38 ">
              探索<br>
              更多
            </div>
          </a>
        </div>


    </nav>

    <!-- 近期活動 -->
    <section class="recent mt-32 mt-md-48 container">
      <div
        class="TitelBig container px-5 py-4 border border-3 border-primary d-flex justify-content-between align-items-center">
        <h2 class="Ye-On fs-24 fs-lg-64">RECENT</p>
          <h2 class="fs-2 fw-bold">近期活動</p>
      </div>
      <div class="recentList container mt-5 px-12">
        <div class="row gy-6 ">
          <!-- 活動1 -->
          <div class="col-12 col-md-4">
            <div class="recentCard">
              <h2 class="dateTitle Ye-On border-bottom border-3 border-primary fs-32 fs-xl-48">19 MAY 2023</h2>
              <img src="../assets/images/recentList/rectangle_1.webp" alt="看恐怖片" class="image">
              <h3 class="itemTitle fs-4 fw-bold">邪典電影派對——房間</h3>
              <p class="content fs-6">你有聽說過「大災難家」裡面的主角 Tommy Wiseau
                製作的「史上最爛的電影」——房間嗎？在美國甚至演變成一種邪教、一種派對的形式，在電影播放的對著螢幕丟湯匙都...</p>
              <div
                class="activity mt-3 d-flex justify-content-between border border-primary border-2 border-start-0 border-end-0">

                <p><a href="#" class="d-flex align-items-center fw-bold"><img src="../assets/images/icon/sparkler 1.png"
                      alt="閃光" class="icon me-1" width="24" height="24">社群活動</a>
                </p>
                <button type="button" class="d-flex align-items-center fw-bold">開賣中 <img
                    src="../assets/images/icon/rounded-double-right 1.png" alt="右箭頭" width="16" height="16"
                    class="icon ms-1"></button>
              </div>
            </div>
          </div>
          <!-- 活動2 -->
          <div class="col-12 col-md-4">
            <div class="recentCard">
              <h2 class="dateTitle Ye-On border-bottom border-3 border-primary fs-32 fs-xl-48">23 MAY 2023</h2>
              <img src="../assets/images/recentList/rectangle_2.webp" alt="跳舞" class="image">
              <h3 class="itemTitle fs-4 fw-bold">怪舞俱樂部</h3>
              <p class="content fs-6">覺得自己的舞蹈細胞異於常人？每次隨著音樂起舞身邊的人總是露出無法理解的表情？來這裡就對了！來參加這場一起跳舞的聚會，也會在每一次的舞會中選出舞步最怪的...</p>
              <div
                class="activity mt-3 d-flex justify-content-between border border-primary border-2 border-start-0 border-end-0">

                <p><a href="#" class="d-flex align-items-center fw-bold"><img src="../assets/images/icon/sparkler 1.png"
                      alt="閃光" class="icon me-1" width="24" height="24">演出</a>
                </p>
                <button type="button" class="d-flex align-items-center fw-bold">檢視活動 <img
                    src="../assets/images/icon/rounded-double-right 1.png" alt="右箭頭" width="16" height="16"
                    class="icon ms-1"></button>
              </div>
            </div>
          </div>
          <!-- 活動3 -->
          <div class="col-12 col-md-4">
            <div class="recentCard">
              <h2 class="dateTitle Ye-On border-bottom border-3 border-primary fs-32 fs-xl-48">30 MAY 2023</h2>
              <img src="../assets/images/recentList/rectangle_3.webp" alt="看電影" class="image">
              <h3 class="itemTitle fs-4 fw-bold">哈利波特馬拉松</h3>
              <p class="content fs-6">每次身邊有人開啟哈利波特的話題，自己永遠都是聽不懂的那個麻瓜？看大家在討論魁地奇、用咒語鬥法的時候，自己永遠是陪笑的那個人？穿好你的法袍、帶上你的法杖...</p>
              <div
                class="activity mt-3 d-flex justify-content-between border border-primary border-2 border-start-0 border-end-0">

                <p><a href="#" class="d-flex align-items-center fw-bold"><img src="../assets/images/icon/sparkler 1.png"
                      alt="閃光" class="icon me-1" width="24" height="24">聯誼</a>
                </p>
                <button type="button" class="d-flex align-items-center fw-bold">開賣中 <img
                    src="../assets/images/icon/rounded-double-right 1.png" alt="右箭頭" width="16" height="16"
                    class="icon ms-1"></button>
              </div>
            </div>
          </div>
          <!-- 活動4 -->
          <div class="col-12 col-md-4">
            <div class="recentCard">
              <h2 class="dateTitle Ye-On border-bottom border-3 border-primary fs-32 fs-xl-48">12 June 2023</h2>
              <img src="../assets/images/recentList/rectangle_4.webp" alt="沙灘排球" class="image">
              <h3 class="itemTitle fs-4 fw-bold">皮卡丘排球大賽</h3>
              <p class="content fs-6">還記得小時候玩的小遊戲嗎？總是有朋友吹噓自己獨孤求敗、只求一敗？是時候該展現真正的實力了！本活動採用瑞士制賽程，以絕對公平的方式進行，是時候該證明自己...</p>
              <div
                class="activity mt-3 d-flex justify-content-between border border-primary border-2 border-start-0 border-end-0">

                <p><a href="#" class="d-flex align-items-center fw-bold"><img src="../assets/images/icon/sparkler 1.png"
                      alt="閃光" class="icon me-1" width="24" height="24">遊戲競賽</a>
                </p>
                <button type="button" class="d-flex align-items-center fw-bold">開賣中 <img
                    src="../assets/images/icon/rounded-double-right 1.png" alt="右箭頭" width="16" height="16"
                    class="icon ms-1"></button>
              </div>
            </div>
          </div>
          <!-- 活動5 -->
          <div class="col-12 col-md-4">
            <div class="recentCard">
              <h2 class="dateTitle Ye-On border-bottom border-3 border-primary fs-32 fs-xl-48">25 June 2023</h2>
              <img src="../assets/images/recentList/rectangle_5.webp" alt="喝酒乾杯" class="image">
              <h3 class="itemTitle fs-4 fw-bold">酒精路跑</h3>
              <p class="content fs-6">身邊總是有對自己酒量有高度自信的朋友嗎？拉著他/她一起來參加酒精路跑吧！一起拍下第一杯直到倒下為止的照片，一起喝遍市區內各家極具品味的酒吧。</p>
              <div
                class="activity mt-3 d-flex justify-content-between border border-primary border-2 border-start-0 border-end-0">

                <p><a href="#" class="d-flex align-items-center fw-bold"><img src="../assets/images/icon/sparkler 1.png"
                      alt="閃光" class="icon me-1" width="24" height="24">社群活動</a>
                </p>
                <button type="button" class="d-flex align-items-center fw-bold">開賣中 <img
                    src="../assets/images/icon/rounded-double-right 1.png" alt="右箭頭" width="16" height="16"
                    class="icon ms-1"></button>
              </div>
            </div>
          </div>
          <!-- 活動6 -->
          <div class="col-12 col-md-4">
            <div class="recentCard">
              <h2 class="dateTitle Ye-On border-bottom border-3 border-primary fs-32 fs-xl-48">9 July 2023</h2>
              <img src="../assets/images/recentList/rectangle_6.webp" alt="喝酒乾杯" class="image">
              <h3 class="itemTitle fs-4 fw-bold">展覽——我的房間</h3>
              <p class="content fs-6">每個人的房間總會有那麼一兩個能代表自己的物事，或許是再平凡不過的牙刷、馬克杯，或許有那些別人的房間從沒出現過的小東西——那些能定義自己的特別的東西。</p>
              <div
                class="activity mt-3 d-flex justify-content-between border border-primary border-2 border-start-0 border-end-0">

                <p><a href="#" class="d-flex align-items-center fw-bold"><img src="../assets/images/icon/sparkler 1.png"
                      alt="閃光" class="icon me-1" width="24" height="24">展覽</a>
                </p>
                <button type="button" class="d-flex align-items-center fw-bold">開賣中 <img
                    src="../assets/images/icon/rounded-double-right 1.png" alt="右箭頭" width="16" height="16"
                    class="icon ms-1"></button>
              </div>
            </div>
          </div>


        </div>
      </div>



    </section>
    <!-- 線上活動 -->
    <section class="online container mt-32 mt-md-48">
      <div
        class="TitelBig container px-5 py-4 border border-3 border-primary d-flex justify-content-between align-items-center">
        <h2 class="Ye-On fs-24 fs-lg-64">ONLINE</p>
          <h2 class="fs-2 fw-bold">線上活動</p>
      </div>
      <div class="container mt-5 p-0">
        <div class="row">
          <div class="col-12 col-md-7">
            <div class="image-container position-relative overflow-hidden"
              style="background-image: url('../assets/images/clay_banks_q3daz8vmbaa_unsplash_1.webp'); background-repeat: no-repeat; background-position: 50% 50%; background-size: cover;">

            </div>
          </div>
          <div class="col-12 col-md-5">
            <div class="chatgpt">
              <h3 class="title fs-2">切特居批踢</h3>
              <ul class="tagList d-flex p-0 mt-3">
                <li class="tag  me-2 "><a class="py-1 px-4" href="#">競賽</a></li>
                <li class="tag  me-2"><a class="py-1 px-4" href="#">科技</a></li>
                <li class="tag "><a class="py-1 px-4" href="#">有趣</a></li>
              </ul>
              <p class="content mt-5">最近網路上很流行的AI程式 ChatGPT，可以用來聊天或是查詢、整理各種資料，不同的應用方式如雨後春筍般冒出來。
                這個活動讓大家把自己最有特色的使用方法提出來讓大家參考，也會投票出最有趣的用法。
                該讓其他人知道自己使用 ChatGPT 的姿勢才是最特別的那個了！</p>
            </div>
            <button
              class="w-100 bg-primary text-white d-flex align-items-center justify-content-center py-2 mt-5 ">查看活動詳情
              <img src="../assets/images/icon/rounded-double-right-w.png" alt="向右箭頭" class="icon"></button>
          </div>
        </div>
      </div>
    </section>

    <!-- 跑馬燈 -->
    <div class="swiper mySwiper mt-32 mt-md-60">
      <div class="swiper-wrapper">
        <div class="swiper-slide">活動集錦・ALBUMS・活動集錦・ALBUMS・活動集錦・ALBUMS・活動集錦・ALBUMS・活動集錦・ALBUMS・</div>
        <div class="swiper-slide">活動集錦・ALBUMS・活動集錦・ALBUMS・活動集錦・ALBUMS・活動集錦・ALBUMS・活動集錦・ALBUMS・</div>
        <div class="swiper-slide">活動集錦・ALBUMS・活動集錦・ALBUMS・活動集錦・ALBUMS・活動集錦・ALBUMS・活動集錦・ALBUMS・</div>
        <div class="swiper-slide">活動集錦・ALBUMS・活動集錦・ALBUMS・活動集錦・ALBUMS・活動集錦・ALBUMS・活動集錦・ALBUMS・</div>
        <div class="swiper-slide">活動集錦・ALBUMS・活動集錦・ALBUMS・活動集錦・ALBUMS・活動集錦・ALBUMS・活動集錦・ALBUMS・</div>
      </div>
    </div>

    <!-- 社群活動,藝文活動,自我覺察,聯誼活動 -->
    <section class="selection container mt-32 mt-md-60">
      <div class="container p-0">
        <ul class="row mt-60 list-unstyled">
          <li class="col-12 col-md-3">
            <div class="item mx-auto border border-2 border-dark p-3 pb-5 position-relative mb-26 mb-md-0">
              <h2 class="position-absolute top-0 start-50 fs-6 bg-white px-3 py-2 fw-bold h2-transform">社群活動</h2>
              <img src="https://github.com/hexschool/2022-web-layout-training/blob/main/2023week6/album/01.jpg?raw=true"
                class="img-fluid w-100" alt="社群活動">
              <p class="pt-3">無聲派對-閉閉嘴dancing</p>廖f
            </div>
          </li>
          <li class="col-12 col-md-3">
            <div class="item mx-auto border border-2 border-dark p-3 pb-5 position-relative mb-26 mb-md-0">
              <h2 class="position-absolute top-0 start-50 fs-6 bg-white px-3 py-2 fw-bold h2-transform">藝文活動</h2>
              <img src="https://github.com/hexschool/2022-web-layout-training/blob/main/2023week6/album/02.jpg?raw=true"
                class="img-fluid w-100" alt="藝文活動">
              <p class="pt-3">搶救老店大作戰</p>
            </div>
          </li>
          <li class="col-12 col-md-3">
            <div class="item mx-auto border border-2 border-dark p-3 pb-5 position-relative mb-26 mb-md-0">
              <h2 class="position-absolute top-0 start-50 fs-6 bg-white px-3 py-2 fw-bold h2-transform">自我覺察</h2>
              <img src="https://github.com/hexschool/2022-web-layout-training/blob/main/2023week6/album/03.jpg?raw=true"
                class="img-fluid w-100" alt="自我覺察">
              <p class="pt-3">內觀修行-部落篇</p>
            </div>
          </li>
          <li class="col-12 col-md-3">
            <div class="item mx-auto border border-2 border-dark p-3 pb-5 position-relative mb-26 mb-md-0">
              <h2 class="position-absolute top-0 start-50 fs-6 bg-white px-3 py-2 fw-bold h2-transform">聯誼活動</h2>
              <img src="https://github.com/hexschool/2022-web-layout-training/blob/main/2023week6/album/04.jpg?raw=true"
                class="img-fluid w-100" alt="聯誼活動">
              <p class="pt-3">賞櫻野餐</p>
            </div>
          </li>
        </ul>
      </div>
    </section>
    <!-- 跑馬燈 -->
    <div class="swiper mySwiper mt-32 mt-md-60">
      <div class="swiper-wrapper">
        <div class="swiper-slide">活動集錦・ALBUMS・活動集錦・ALBUMS・活動集錦・ALBUMS・活動集錦・ALBUMS・活動集錦・ALBUMS・</div>
        <div class="swiper-slide">活動集錦・ALBUMS・活動集錦・ALBUMS・活動集錦・ALBUMS・活動集錦・ALBUMS・活動集錦・ALBUMS・</div>
        <div class="swiper-slide">活動集錦・ALBUMS・活動集錦・ALBUMS・活動集錦・ALBUMS・活動集錦・ALBUMS・活動集錦・ALBUMS・</div>
        <div class="swiper-slide">活動集錦・ALBUMS・活動集錦・ALBUMS・活動集錦・ALBUMS・活動集錦・ALBUMS・活動集錦・ALBUMS・</div>
        <div class="swiper-slide">活動集錦・ALBUMS・活動集錦・ALBUMS・活動集錦・ALBUMS・活動集錦・ALBUMS・活動集錦・ALBUMS・</div>
      </div>
    </div>

    <!-- #FOLLOW US,#SUBSCRIBE US -->
    <section class="followAndSubscribe px-12 mt-32 mt-md-60">
      <div class="container">
        <div class="row">
          <div class="col-12 col-md-6 border border-2 border-primary px-0">
            <div class="followUS border-primary">
              <p class="title border-bottom border-2 border-primary fs-24 fs-lg-32 px-5 py-3 fw-bold">#FOLLOW US</p>
              <div class="content p-5">
                <p class="text">想第一時間獲得新奇有趣的活動資訊？</br>
                  追蹤我們的社群吧！<br>
                  也歡迎你聯繫我們，提供好玩有趣的活動企劃。</p>
                <ul class="contactList mt-5">
                  <li class="item mt-3"><i
                      class="icofont-ui-email text-white bg-primary p-2 me-3"></i>7tao.event@gmail.com
                  </li>
                  <li class="item mt-3"><i class="icofont-phone text-white bg-primary p-2 me-3"></i> 09123123123 </li>
                  <li class="item mt-3"><i class="icofont-facebook text-white bg-primary p-2 me-3"></i>7TAO七逃 </li>
                </ul>
              </div>
            </div>
          </div>
          <div class="col-12 col-md-6 border border-2 border-primary px-0">
            <div class="subscribeUS d-flex flex-column ">
              <p class="title border-bottom border-2 border-primary fs-24 fs-lg-32 fs-md-32 px-5 py-3 fw-bold">
                #SUBSCRIBE
                US</p>
              <div class="content p-5 flex-grow-1">
                <p class="text">訂閱電子報送折價券！<br>
                  定期精選文章資訊及最新優惠資訊，<br>
                  還不通通給我訂閱起來？</p>
                <input type="text" placeholder="輸入Email" class="mt-5 w-100 border border-2 border-primary px-4">
              </div>
              <button type="button"
                class="w-100 bg-primary text-white d-flex align-items-center justify-content-center py-2">查看活動詳情
                <img src="../assets/images/icon/rounded-double-right-w.png" alt="向右箭頭" class="icon">
              </button>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="text-center border-top border-2 border-primary mt-32 mt-md-60">
      <p class="fs-2 mt-60">此刻打盹，你將做夢；此刻學習，你將圓夢</p>
      <p class="fz-18 mt-3">——我也不知道誰說的</p>

    </section>

    <%- include('./layout/footer'); -%>
      <script src="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.js"></script>
      <script type="module" src="../main.js"></script>
      



</body>

</html>